@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';

// Custom color theme from colorhunt
$custom-colors: (
  'custom-bg': #f0f5f9,
  'custom-secondary': #c9d6df,
  'custom-primary': #52616b,
  'custom-text': #1e2022,
);

$nav-tabs-border-radius: 0;

// Merging sass map
$theme-colors: map-merge($theme-colors, $custom-colors);
@import '../node_modules/bootstrap/scss/bootstrap';

// Change font to Helvetica Alternative
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
:root {
  --bs-body-font-family: 'Questrial', sans-serif;
  --bs-body-color: #1e2022;
}
