body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Utility Classes */
.text-justify {
  text-align: justify;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cursor-pointer {
  cursor: pointer;
}

.invisible {
  visibility: hidden;
}

.hover-visible {
  opacity: 0;
  transition: opacity 0.25s ease-in-out 0s;
}

.hover-visible:hover {
  opacity: 1;
  transition: opacity 0.25s ease-in-out 0s;
}

/* To remove spinbox on input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Product Slider */
.slick-arrow.slick-prev::before,
.slick-arrow.slick-next::before {
  display: none;
}

.slick-arrow.slick-prev {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.slick-arrow.slick-next {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media only screen and (min-width: 750px) {
  .slick-arrow.slick-prev {
    left: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .slick-arrow.slick-next {
    right: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

.slick-arrow.slick-prev,
.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next,
.slick-arrow.slick-next:hover {
  background: #f1f5f9;
  width: 2.5rem;
  height: 5rem;
  font-size: 2rem;
  color: grey;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Homepage - Flyer Carousel*/
@media only screen and (min-width: 750px) {
  .fix-carousel {
    height: 80vh;
    object-fit: cover;
  }
}

/* Homepage - Promo Section */
@media only screen and (min-width: 750px) {
  .promo-img {
    height: 50vh;
    object-fit: cover;
  }
}

/* Item Drawer */
@media only screen and (min-width: 768px) {
  .left-divider {
    border-left: 1px solid #ccc;
  }
}
@media only screen and (max-width: 768px) {
  .top-divider {
    border-top: 1px solid #ccc;
  }
}

/* Remove submenu border on small screen */
@media only screen and (max-width: 992px) {
  .dropdown-menu .show {
    border: none;
    padding: 0.15rem 0;
  }
  a.dropdown-toggle.nav-link {
    padding: 0.5rem 0;
  }
  .gap-caption {
    gap: 1.5rem;
  }
}

@media only screen and (max-width: 992px) {
  .promo-code {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .remove-item {
    position: absolute !important;
    top: 85%;
  }
}

/* Fixed card image height */
img.card-img-top {
  height: 15.5rem;
  object-fit: contain;
}

/* Navbar */
.nav-item {
  border-radius: 0;
}

a.dropdown-toggle.nav-link {
  color: #1e2022;
}

button.navbar-toggler.collapsed {
  border-color: #1e2022;
  border-width: 2px;
}

button.navbar-toggler:focus {
  box-shadow: 0 0 0 0.1rem;
}

span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke='rgb(30, 32, 34)' stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
}

div.dropdown-menu.show {
  background-color: #c9d6df;
}

a.dropdown-item.active {
  background-color: #52616b;
}

a.dropdown-item:active {
  color: #fff;
  background-color: #52616b;
}

/* Category Tab */
/* When tab selected */
/* a.active.nav-link:active {
  color: #fff;
  font-weight: 700;
  background-color: #52616b;
} */
/* When tab not select */
/* color: #1e2022;
background-color: #c9d6df; */

/* Product Highlight */
input.btn-check:checked + .btn {
  background-color: #52616b;
  border-color: #52616b;
  color: #fff;
  font-weight: 700;
}

.breadcrumb-item {
  color: white;
  text-decoration: none;
}

.cart-quantity {
  top: 30% !important;
  left: 80%;
}

/* TODO LIST */
/* Add a ribbon tag on sub category */
/* Rewrite all the above to custom.scss */

.google-btn {
  background-color: #ffffff;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* .user-position {
  right: 0px;
} */
