// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../../node_modules/bootstrap/scss/functions';

$alt-white: #ffffff;
$alt-primary: #005691;
$alt-secondary: #e8f1f5;
$alt-background: #fafafa;
$alt-action: #004a7c;
$nav-font-size: 1.08rem;

// 2. Include any default variable overrides here
$nav-tabs-border-radius: 0px;
$navbar-light-color: $alt-secondary;
$navbar-light-hover-color: $alt-white;
$navbar-light-active-color: $alt-white;

$dropdown-link-active-color: #212529;
$dropdown-link-active-bg: $alt-secondary;
$dropdown-padding-y: 0.8rem;
$dropdown-bg: $alt-primary;
$dropdown-border-color: $alt-white;
$dropdown-border-radius: 0 0 0.375rem 0.375rem;
$dropdown-link-color: $alt-white;
$dropdown-link-hover-color: $alt-white;
$dropdown-link-hover-bg: $alt-primary;

$accordion-color: $alt-action;
$accordion-bg: $alt-background;
$accordion-button-active-bg: $alt-secondary;
$accordion-button-active-color: $alt-action;
$accordion-button-focus-border-color: $alt-action;
$accordion-button-focus-box-shadow: 0 0 0 0.25rem $alt-secondary;
$accordion-icon-color: $alt-action;
$accordion-icon-active-color: $alt-action;

$form-check-input-focus-border: $alt-action;
$form-check-input-focus-box-shadow: 0 0 0 0.25rem $alt-secondary;
$form-check-input-checked-bg-color: $alt-action;

// 3. Include remainder of required Bootstrap stylesheets
@import '../../node_modules/bootstrap/scss/variables';

// 4. Include any default map overrides here

// Adding custom color palette to theme-colors sass map
$custom-colors: (
  'alt-bg': $alt-background,
  'alt-secondary': $alt-secondary,
  'alt-primary': $alt-primary,
  'alt-action': $alt-action,
  // 'alt-text': #1e2022,
);
$theme-colors: map-merge($theme-colors, $custom-colors);

// 5. Include remainder of required parts
// @import '../../node_modules/bootstrap/scss/maps';
// @import '../../node_modules/bootstrap/scss/mixins';
// @import '../../node_modules/bootstrap/scss/root';

// 6. Optionally include any other parts as needed
// @import '../../node_modules/bootstrap/scss/utilities';
// @import '../../node_modules/bootstrap/scss/reboot';
// @import '../../node_modules/bootstrap/scss/type';
// @import '../../node_modules/bootstrap/scss/images';
// @import '../../node_modules/bootstrap/scss/containers';
// @import '../../node_modules/bootstrap/scss/grid';
// @import '../../node_modules/bootstrap/scss/helpers';

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
// @import '../../node_modules/bootstrap/scss/utilities/api';

@import '../../node_modules/bootstrap/scss/bootstrap';
// 8. Add additional custom code here

// Utility Classes
.text-justify {
  text-align: justify;
}

// .card-width {
//   width: ;
// }

.navbar-font-size {
  font-size: $nav-font-size;
}

.borderless-btn {
  border-radius: 0;
}

.text-justify {
  text-align: justify;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cursor-pointer {
  cursor: pointer;
}

.invisible {
  visibility: hidden;
}

.hover-visible {
  opacity: 0;
  transition: opacity 0.25s ease-in-out 0s;
}

.hover-visible:hover {
  opacity: 1;
  transition: opacity 0.25s ease-in-out 0s;
}

// Changed font to Helvetica Alternative
// For this part, either override default value or leave it here
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
:root {
  --bs-body-font-family: 'Questrial', sans-serif;
  // --bs-body-color: #1e2022;
}

.btn:disabled {
  opacity: 0.5;
}

.alert .btn-close {
  background: transparent
    url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e')
    center/1em auto no-repeat;
  // box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.alert .btn-close:focus {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}

// Navbar Component CSS
.nav-link,
.dropdown-item,
.footer-link {
  position: relative;
}

.dropdown-toggle::after {
  // content: '';
  // margin-left: 10px;
  // display: inline-block;
  // border-left: 2px solid #000;
  // border-bottom: 2px solid #000;
  // width: 20px;
  // height: 20px;
  // transform: rotate(-45deg);
  border-top: none;
}

.nav-link::after {
  content: '';
  opacity: 0;
  transition: all 0.3s;
  height: 3px;
  width: 80%;
  background-color: $alt-secondary;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  margin: 0;
}

.dropdown-item::after {
  content: '';
  opacity: 0;
  transition: all 0.3s;
  height: 2px;
  width: 50%;
  background-color: $alt-secondary;
  position: absolute;
  left: 50%;
  bottom: 13%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.footer-link::after {
  content: '';
  opacity: 0;
  transition: all 0.3s;
  height: 2px;
  width: 80%;
  background-color: $alt-secondary;
  position: absolute;
  left: 50%;
  bottom: -50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.nav-link:hover::after,
.dropdown-item:hover::after,
.footer-link:hover::after {
  opacity: 1;
}

.nav-link:active::after,
.dropdown-item:active::after,
.footer-link:active::after {
  opacity: 0;
}

.dropdown-menu[data-bs-popper] {
  top: 150%;
  left: 0;
  margin-top: 0;
}

.dropdown-item {
  font-weight: 450;
}

.btn-nav-custom {
  color: $alt-white;
  background-color: $alt-primary;
  border-color: $alt-primary;
  border-radius: 50%;
}
.btn-nav-custom:hover {
  color: $alt-white;
  background-color: $alt-action;
  border-color: $alt-action;
}
.btn-nav-custom:focus {
  background-color: $alt-action;
  border-color: $alt-action;
  // box-shadow: 0 0 0 0.1rem $alt-action;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-nav-custom:first-child:active,
:not(.btn-nav-custom:active) + .btn-nav-custom:active:active {
  color: $alt-white;
  background-color: $alt-action;
  border-color: $alt-action;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-close {
  // box-sizing: content-box;
  // width: 1em;
  // height: 1em;
  // padding: 0.25em 0.25em;
  // color: #000;
  background: transparent
    url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23FFFFFF%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e')
    center/1em auto no-repeat;
  // border: 0;
  // border-radius: 0.375rem;
  opacity: 1;
}
.btn-close:hover {
  opacity: 1;
}
.btn-close:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.125);
  // box-shadow: inset 0 3px 5px rgba(13, 110, 253, 0.25);
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: transparent;
  border: 2px solid $alt-white;
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

// .offcanvas-header {
//   .form-control:focus {
//     color: #212529;
//     background-color: #fff;
//     border-color: $alt-primary;
//     outline: 0;
//     // box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
//     box-shadow: 0 0 0 0.25rem $alt-action;
//   }
// }
.form-control:focus {
  color: #212529;
  background-color: #fff;
  // border-color: $alt-primary;
  border-color: #ced4da;
  outline: 0;
  // box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  // box-shadow: 0 0 0 0.15rem #e8f1f5;
  box-shadow: 0 0 0 0.15rem $alt-secondary;
}

.nav-tabs .nav-link.active {
  color: $alt-action;
  font-weight: 500;
  background-color: $alt-background;
  border-bottom-color: $alt-background;
}

.form-check-label {
  color: #212529;
}

.filter-nav-link {
  color: #212529;
  text-decoration: none;
}
.filter-nav-link:after {
  // content: '';
  // opacity: 0;
  background-color: $alt-background;
}
.filter-nav-link:hover,
.filter-nav-link:focus {
  color: $alt-primary;
}

.flavor-btn {
  color: $alt-white;
  background-color: $alt-action;
  border-color: $alt-action;
  opacity: 0.5;
}

.btn-check:checked + .btn {
  background-color: $alt-action;
  border-color: $alt-action;
  opacity: 1;
}
.btn-check + .btn:hover {
  background-color: $alt-action;
  border-color: $alt-action;
  opacity: 1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* To remove spinbox on input number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Product Slider */
.slick-arrow.slick-prev::before,
.slick-arrow.slick-next::before {
  display: none;
}

.slick-arrow.slick-prev {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  justify-content: flex-start;
}
.slick-arrow.slick-next {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  justify-content: flex-end;
}

.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  // background: #f1f5f9;
  background: none;
  // width: 2.5rem;
  width: 10%;
  height: 100%;
  font-size: 2rem;
  color: $alt-action;
  z-index: 1;
  display: flex;
  // justify-content: center;
  align-items: center;
  opacity: 0;
}

.slick-arrow.slick-prev:hover,
.slick-arrow.slick-next:hover {
  transition: all 0.4s ease-in-out;
  opacity: 1;
}

/* Fixed card image height */
// img.card-img-top {
//   height: 15.5rem;
//   object-fit: contain;
// }

/* Navbar */
// .nav-item {
//   border-radius: 0;
// }

// a.dropdown-toggle.nav-link {
//   color: #1e2022;
// }

// button.navbar-toggler.collapsed {
//   border-color: #1e2022;
//   border-width: 2px;
// }

// button.navbar-toggler:focus {
//   box-shadow: 0 0 0 0.1rem;
// }

// span.navbar-toggler-icon {
//   background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke='rgb(30, 32, 34)' stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e");
// }

// div.dropdown-menu.show {
//   background-color: #c9d6df;
// }

// a.dropdown-item.active {
//   background-color: #52616b;
// }

// a.dropdown-item:active {
//   color: #fff;
//   background-color: #52616b;
// }

/* Category Tab */
/* When tab selected */
/* a.active.nav-link:active {
  color: #fff;
  font-weight: 700;
  background-color: #52616b;
} */
/* When tab not select */
/* color: #1e2022;
background-color: #c9d6df; */

/* Product Highlight */
// input.btn-check:checked + .btn {
//   background-color: #52616b;
//   border-color: #52616b;
//   color: #fff;
//   font-weight: 700;
// }

// .breadcrumb-item {
//   color: white;
//   text-decoration: none;
// }

.cart-quantity {
  top: 30% !important;
  left: 80%;
}

.google-btn {
  background-color: #ffffff;
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.promo-text {
  font-size: 1.5rem;
}

/* .user-position {
  right: 0px;
} */

// Breakpoint Related

@media only screen and (min-width: 750px) {
  .slick-arrow.slick-prev {
    left: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }
  .slick-arrow.slick-next {
    right: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }
}

/* Homepage - Flyer Carousel*/
@media only screen and (min-width: 750px) {
  .fix-carousel {
    height: 80vh;
    object-fit: cover;
  }
}

/* Homepage - Promo Section */
@media only screen and (min-width: 750px) {
  .promo-img {
    height: 50vh;
    object-fit: cover;
  }
}

/* Item Drawer */
@media only screen and (min-width: 768px) {
  .left-divider {
    border-left: 1px solid #ccc;
  }
}
@media only screen and (max-width: 768px) {
  .top-divider {
    border-top: 1px solid #ccc;
  }
}

/* Remove submenu border on small screen */
@media only screen and (max-width: 992px) {
  .dropdown-menu .show {
    border: none;
    padding: 0.15rem 0;
  }
  a.dropdown-toggle.nav-link {
    padding: 0.5rem 0;
  }
  // .gap-caption {
  //   gap: 1.5rem;
  // }
}

@media only screen and (max-width: 992px) {
  .promo-code {
    width: 100%;
  }
  .remove-item {
    position: absolute !important;
    top: 82%;
    left: 12%;
  }
}

@media only screen and (min-width: 992px) {
  .remove-item {
    position: absolute !important;
    top: 85%;
  }
  .contact-btn {
    // width: 50%;
    max-width: 696px;
    margin: 0 auto;
  }
  .promo-text {
    font-size: 1rem;
  }
}

.contact-btn {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .nav-link::after {
    // content: '';
    // opacity: 0;
    // transition: all 0.3s;
    // height: 3px;
    width: 30%;
    // background-color: $alt-secondary;
    // position: absolute;
    left: 15%;
    // bottom: 0;
    // transform: translate(-50%, -50%);
    // margin: 0;
  }
}
